body{
    font-family: 'Pacifico', cursive;
    color: aliceblue; 
    background:'paginaf.jpg';
    background-repeat: no-repeat;
    background-size: 1500px;
}
.pacifico{
    font-family: 'Pacifico', cursive;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #393D51;
}
